// container
.c-container {
  @include make-container();
  max-width: calc(1100px + #{$container-padding-x}*2);
  width: 100%;
}

.c-container-full {
  @include make-container();
  width: 100%;
}

// Custom
.u-writing-v {
  writing-mode: vertical-rl !important;
}