// colors
$black: #333;
$main: #fac;
$accent: #25a;


// fonts
$noto: 'Noto Sans JP', sans-serif;
$notoSerif: 'Noto Serif JP', serif;
$yumin: 游明朝, 'Yu Mincho', YuMincho, メイリオ, Meiryo, serif;
$yugo: '游ゴシック体', YuGothic, "游ゴシック", "Yu Gothic", 'メイリオ', sans-serif;


// color map
// $theme-colors: (
//   "black": $black,
//   "main": $main,
//   "accent": $accent,
// );


// utilities-className
$utilities-className: (
  vertical-align: u-va,
  float: u-fl,
  overflow: u-ov,
  display: u-d,
  box-shadow: u-bxsh,
  potision: u-pos,
  top: u-t,
  bottom: u-b,
  left: u-l,
  right: u-r,
  translate-middle: u-translate-middle,
  border: u-bd,
  border-top: u-bd-t,
  border-right: u-bd-r,
  border-bottom: u-bd-b,
  border-left: u-bd-l,
  border-color: u-bdc,
  border-width: u-bdw,
  width: u-w,
  max-width: u-maw,
  min-width: u-miw,
  height: u-h,
  max-height: u-mah,
  min-height: u-mih,
  flex: u-fx,
  flex-direction: u-fxd,
  flex-grow: u-fxg,
  flex-shrink: u-fxsh,
  flex-wrap: u-fxw,
  gap: u-gap,
  justify-content: u-jc,
  align-items: u-ai,
  align-content: u-ac,
  align-self: u-as,
  order: u-order,
  margin: u-m,
  margin-x: u-mx,
  margin-y: u-my,
  margin-top: u-mt,
  margin-right: u-mr,
  margin-bottom: u-mb,
  margin-left: u-ml,
  negative-margin: u-m,
  negative-margin-x: u-mx,
  negative-margin-y: u-my,
  negative-margin-top: u-mt,
  negative-margin-right: u-mr,
  negative-margin-bottom: u-mb,
  negative-margin-left: u-ml,
  padding: u-p,
  padding-x: u-px,
  padding-y: u-py,
  padding-top: u-pt,
  padding-right: u-pr,
  padding-bottom: u-pb,
  padding-left: u-pl,
  font-family: u-ff,
  font-size: u-fz,
  font-style: u-fs,
  font-weight: u-fw,
  line-height: u-lh,
  text-align: u-ta,
  text-decoration: u-td,
  text-transform: u-tt,
  white-space: u-whs,
  word-wrap: u-wow,
  color: u-c,
  background-color: u-bgc,
  background-image: u-bgi,
  user-select: u-us,
  pointer-events: u-pe,
  border-radius: u-bdrs,
  border-radius-top: u-bdrs-t,
  border-radius-right: u-bdrs-r,
  border-radius-bottom: u-bdrs-b,
  border-radius-left: u-bdrs-l,
  visibility: u-v,
  z-index: u-z,
) !default;


// negative-margin
$enable-negative-margins: true;

$spacer: 0.1rem;
$spacers: (
  0: 0,
  4: $spacer * 4,
  8: $spacer * 8,
  10: $spacer * 10,
  12: $spacer * 12,
  14: $spacer * 14,
  16: $spacer * 16,
  18: $spacer * 18,
  20: $spacer * 20,
  24: $spacer * 24,
  28: $spacer * 28,
  30: $spacer * 30,
  32: $spacer * 32,
  36: $spacer * 36,
  40: $spacer * 40,
  50: $spacer * 50,
  60: $spacer * 60,
  70: $spacer * 70,
  80: $spacer * 80,
  90: $spacer * 90,
  100: $spacer * 100,
  120: $spacer * 120,
  140: $spacer * 140,
  160: $spacer * 160,
);

$font-sizes: (
  10: 1.0rem,
  12: 1.2rem,
  14: 1.4rem,
  16: 1.6rem,
  18: 1.8rem,
  20: 2.0rem,
  22: 2.2rem,
  24: 2.4rem,
  28: 2.8rem,
  30: 3.0rem,
  32: 3.2rem,
  36: 3.6rem,
  40: 4.0rem,
  48: 4.8rem,
  50: 5.0rem,
  60: 6.0rem,
  70: 7.0rem,
  80: 8.0rem,
  90: 9.0rem,
  100: 10.0rem,
);

$position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%
);


// breakpoints
$grid-breakpoints: (
  pc: 0,
  sp: 767px,
  tab: 992px,
  // md: 768px,
  // lg: 992px,
  // xl: 1200px,
);


// rfs
$rfs-base-value: 1.8rem;
$rfs-breakpoint: 767px;
$rfs-factor: 100;
$rfs-rem-value: 10;